---
import SectionContainer from "./SectionContainer.astro"
import Subtitle from "./Subtitle.astro"
import LinkIcon from "./icons/LinkIcon.astro"
import GithubIcon from "./icons/GithubIcon.astro"
import LinkButton from "./LinkButton.astro"

const TAGS =  {
    WORDPRESS:'https://img.shields.io/badge/Wordpress-21759B?style=for-the-badge&logo=wordpress&logoColor=white',
    STRIPE:'https://img.shields.io/badge/Stripe-626CD9?style=for-the-badge&logo=Stripe&logoColor=white',
    HTML:'https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white',
    BOOTSTRAP:'https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white',
    PHP:'https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white'
}

const PROJECTS = [
    {
        title: "Grexi Albornett",
        description:
            "Plataforma en linea realizada en Wordpress donde los usuarios pueden agendar citas, realizar talleres, " +
            "tienda con productos, ademas incluye LMS para talleres offline y podcast para sus usuarios con un diseño " +
            "limpio y profesional",
        link: "https://grexialbornett.com",
        image: "assets/projects/grexi_web_portfolio.webp",
        tags: [TAGS.WORDPRESS, TAGS.STRIPE, TAGS.PHP],
    },
    {
        title: "Miami Scaffold Rental",
        description:"Landing page enfocada en ofrecer soluciones de andamiaje seguras y eficientes para la industria " +
            "de la construcción en el sur de Florida, esta realizada en HTML y CSS usando el framework bootstrap para " +
            "minimizar los tiempos de carga y promover las conversiones",
        link: "https://miamiscaffoldrental.com",
        image: "assets/projects/msr_web_portfolio.webp",
        tags: [TAGS.HTML, TAGS.BOOTSTRAP, TAGS.PHP],
    },
]
---
<SectionContainer ClassList="my-12" id="projects">
    <Subtitle ClassList="mb-12">
        He hecho estos proyectos
    </Subtitle>
    <div class="flex flex-col gap-y-16">
        {
            PROJECTS.map(({ image, title, description, tags,...others }) => (
                    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                        <div class="w-full md:w-1/2">
                            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                                <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
                            </div>
                        </div>

                        <div class="w-full md:w-1/2 md:max-w-lg">
                            <h3 class="text-2xl font-bold text-gray-100">
                                {title}
                            </h3>
                            <div class="flex flex-wrap mt-2">
                                <ul class="flex flex-row mb-2 gap-x-2">
                                    {tags.map((tag) => (
                                        <img src={tag} alt="Tag item">
                                    ))}
                                </ul>

                                <div class="mt-2 text-gray-400">{description}</div>
                                <footer class="flex items-end justify-start mt-4 gap-x-4">
                                    {others?.github && (
                                            <LinkButton href={others.github}>
                                                <GithubIcon class="size-6" />
                                                Code
                                            </LinkButton>
                                    )}
                                    {others?.link && (
                                            <LinkButton href={others.link}>
                                                <LinkIcon class="size-4" />
                                                Preview
                                            </LinkButton>
                                    )}
                                </footer>
                            </div>
                        </div>
                    </article>
            ))
        }
    </div>
</SectionContainer>